* {
  font-family: Rubik;
  font-weight: bold;
  padding: 0;
  margin: 0;
  overflow: hidden; /* убрать на веб версии */
}

html, body {
  height: 100%;
}

.fullscreen {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidepanel {
  width: 35%;
  background-color: #fefefe; 
}

.map {
  width: 65%;
  position: relative;
}

.advertising {
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  width: 65%;
  left: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(50deg, #3023ae, #c86dd7);
}

.advertising p {
  color: #fff;
  font-size: 75px;
}

.icon {
  height: 50px;
  margin-top: 5px;
} 
/*
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  width: 200%;
}
*/
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  height: 6%;
}


.logo {
  width: 250px;
  transition: all 0.3s ease-out;
}

.sidepanel-title {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg, #3023ae, #c86dd7); /* 93 */
    height: 145px;
    flex-direction: column;
    position: relative;
    z-index: 99;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 90px 10px 30px;
  box-sizing: border-box;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #fff;
  font-size: 3em;
  color: #000;
  transition: all 0.3s ease-out;
  border-bottom: 0.1px solid silver;
}

.site  {
  z-index: 20;
  margin-left: 30%;
  color: #fff;
  font-size: 50px;
  position: fixed;
  bottom: 0;
  background-color: rgba(200, 109, 215, 0.8);
}

.site a {
  text-decoration: none;
  color: #fff;
}

.site a:visited {
  text-decoration: none;
  color: #fff;
}

.min {
  font-size: 30px;
  align-items: center;
  font-weight: normal;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time .sidepanel-time-next{
  color: #817E7E;
  font-size: 35px;
  transition: all 0.5s ease-out;
}

.name {
  font-size: 2.5em;
}

.sidepanel-time-next .min {
  font-size: 20px;
}

.error{
  text-align: center;
  color: #0472FC; 
  font-weight: bold;
  font-size: 100px;
  text-decoration: none;
}

.noRoutes {
  text-align: center;
  margin-top: 200px;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

::selection{
  background: #3023ae;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 109, 215, 0.8); /* rgba(48,35,174,0.8) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(200, 109, 215, 0.8); 
}

/*
.marquee  {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  font-size: 40px;
  width: 100%;
 }
 
 .marquee span:hover {
  animation-play-state: paused;

 }
 
 @keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
 }
 */
 .marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
 }
 
 .marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  font-size: 45px;
 }
 
 @keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
 }

 .new-logo-adv {
   width: 100%;
   height: 100%;
 }