* {
    font-family: Rubik;
    font-weight: bold;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

html, body {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  background-image: linear-gradient(136deg, #3023ae, #c86dd7);
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 10%;
  font-size: 25px;
}

.white-logo{
  position: fixed;
  left: 0;
}

.white-logo {
  height: 100px;
  left: 5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 10%;
}

.search {
  height: 50px;
  width: 50%;
  font-size: 25px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #3032ae;
  transition: all 0.3s ease-out;
}

.search:focus{
  border: 2px solid #c86dd7;
}

.search:hover{
  border: 2px solid #c86dd7;
  transition: all 0.3s ease-out;
}

.submitSearch {
  height: 55px;
  width: 55px;
  font-size: 30px;
  color: #3032ae;
  border: 2px solid #3032ae;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin-left: 5px; 
}

.submitSearch:hover{
  transition: all 0.3s ease-out;
  background: #c86dd7;
  color: #fff;
  border: 2px solid #c86dd7;

}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-image: linear-gradient(136deg, #3023ae, #c86dd7);
    color: #fff;
    font-size: 25px;
}

.footer h1 {
  align-self: center;
  padding-left: 10px;
}

.footer a {
  text-decoration: none;
}

.footer a:visited {
  color: #fff;
  text-decoration: none;
}

::selection{
  background: #3023ae;
  color: #fff;
}